<div class="card mb-3">
  <div class="row">
    <div
      *ngIf="article.urlToImage !== 'null'"
      class="{{imageGrid}} d-flex align-items-center justify-content-center"
    >
      <img src="{{article.urlToImage}}" class="card-img" alt="image">
    </div>
    <div class="{{contentGrid}}">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title w-75 mr-1">{{article.title}}</h5>
          <div class="d-flex flex-column align-items-end">
            <h6 class="card-subtitle">{{article.source.name}}</h6>
            <p class="card-text"><small class="text-secondary">{{article.publishedAt | date }}</small></p>
          </div>
        </div>
        <p class="card-text">{{article.content}}</p>
        <button type="button" class="btn btn-primary" (click)="redirectToArticle(article.url)">
          Read more...
        </button>
      </div>
    </div>
    <div
      *ngIf="isCreatedByMe"
      class="col-md-2 d-flex flex-column"
    >
      <button type="button" class="btn btn-primary m-1" (click)="onDelete()">
        Delete
      </button>
      <button type="button" class="btn btn-secondary m-1" (click)="onEdit()">
        Edit
      </button>
    </div>
  </div>
</div>
